@charset "utf-8";

body, html {
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh; /*Sørger for at body og html har minimumhøyde 100vh slik at footer alltid kommer i bunn av siden, selv om innholdet ikke fyller hele siden.*/
}

header {
	position: relative;
}


#headertekst {
	position: absolute;
	padding: 20px;
	color: #f1f1f1;
	bottom: 30px;
	left: 30px;
	z-index: 2; /*Flytter headertekst under menybar */
}

#headertekst p, #headertekst h1 {
	margin: 0px;
	padding: 0px;
}

#topbar{
	width: 100%;
	height: 40px;
	top: 0px;
	z-index: 3; /* menybaren over alle andre elementer på siden*/
	background-color: #131313;
	position: fixed;
}



#meny {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}


/*Det over her e nytt*/ 

 h1 {
     font-size: 32px;
     text-align: center;
     color: #f1f1f1;
     letter-spacing: 20px;
     font-family: 'Montserrat', sans-serif;
 }
 
 h2 {
     font-size: 22px;
     font-family: 'Montserrat', sans-serif;
 }
 
 h4 {
     font-family: 'Montserrat', sans-serif;
     color: #f1f1f1;
     font-size: 16px;
     line-height: 15px;
 }
 /*Body styling*/
 
 body {
     position: relative;
	 min-height: 100%;
     width: 100%;
     background-color: #131313;
     color: #F1F1F1;
     font-family: 'Montserrat', sans-serif;
     margin: auto;
 }
 /*Footer styling*/
 
 .footer {
     background-color: #131313;
     position: absolute;
     bottom: 0;
     right: 0;
     left: 0;
	 padding: 1rem;
 }
 
 .footer p {
     float: right;
     font-family: 'Montserrat', sans-serif;
     text-align: center;
     font-size: 12px;
     text-decoration: none;
     padding: 15px 20px;
     color: #F1F1F1;
 }
/*for hjemsiden*/
#content{
	position:static;
	display: block;
}
#introBox{
	position: static;
	display:block;
}
#animation{
	display: block;
	position: static;
	width: 100%;
	/*clip: rect(0px,60px,200px,0px);*/
}
#mainHeader{
	display: block;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#homeText{
	display: block;
	padding-bottom: 100px;
	width: 960px;
	margin:auto;
}
 /* For Kontaktsiden*/
.wrapper {
    width: 70%;
    display: flex;
    margin: auto;
    padding: 25px 0 50px 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.infobox h4 {
    /* små overskrifter */
    display: block;
    margin: 0 0 20px 160px;
    width: 25%;
    border-bottom: 1px solid #F1F1F1;
    border-bottom-width: 1px;
    padding: 1px;
    text-align: center;
}

.infobox p {
    /*margin: auto;
    width: 35%;
    text-align: left;
    display: inline-block;*/
    display: inline-block;
    padding: 0 15px 0 15px;
    margin: auto;
    width: 30%;
    text-align: left;
}

.infobox {
    padding: 20px;
    min-width: 45%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#kon {
    /* Hovedoverskrift*/
    margin: 80px auto;
    width: 33%;
    border-bottom: 1px solid #F1F1F1;
    border-bottom-width: 1px;
    padding: 5px;
    font-size: 55px;
    font-weight: 100;
}

.resize {
    width: 140px;
    height: 140px;
    float: left;
    border: 2px solid #F1F1F1;
    border-radius: 100px;
}
 
/*for arrangement page*/
#arr{
	display: block;
	position:static;
	padding-top:70px;
}
.testeText{
	display:none;
	/*transition*/
}
.eventBox{
	display:block;
	width: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	margin: 15px auto;
	text-align: center;
	padding: 15px;
}

.eventBox input[type=button]{
	display: block;
	width: 70px;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	color: white;
	background-color: black;
}

/*for timeline*/
#timeline{
	display: block;
	height: 150px;
	position: static;
	padding-top: 30px;
	width: 60%;
	margin:auto;
	transform: translate(14%, 0%);
}
.timelinebox {
	display: inline-block;
	margin: 5px;
    width: 40px;
    height: 40px;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
    border-color: white;
	color: white;
	font-size: 16px;
	background-color: black;
    transition: width 0.8s, height 0.8s;
	transition-timing-function: ease-in-out;
}
#time5{
	width: 100px;
	height: 100px;
	font-size: 35px;
}
#time1, #time2, #time8, #time9{
	visibility: hidden;
}

.timelinebox:hover {
    width: 90px;
	height: 90px;
	border-radius: 50%;
}

/* Logo hover*/
.logo {
	/*height: 20px;
	margin: 10px;
	position: absolute;
	opacity: 1;*/
	display: block; 
    width: 100px;
	height: 35px;
	background-image: url(logo/white-01.png);
    background-repeat: no-repeat;
	background-size: 70% 70%;
    background-position: 50% 50%;
	float: left;
}

.logo:hover {
	width: 100px;
	height: 35px;
	background-image:url(logo/002WHITEEXPOFargerr-01.png);
    background-size: 70% 70%;
	background-repeat: no-repeat;
    background-position: 50% 50%;
	transition: 1.2s; 
	}


/*Legger til endringer her */


/* Her ligger kode for burgerMeny */



.topnav a { /*  endrer farge og font og størrelse på headertekst*/
    float: left;
    display: block;
    color: #f1f1f1;
    text-align: center;
	padding: 1px 20px;
	margin: 9px 0px;
	font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 19px;
	font-weight: 400;
}

.topnav {
	float:right;
}

#bar1, #bar2, #bar3 { /*Styler de tre barene som utgjør hamburgermenyen, men ser ut til å ikke funke for bar2? */
	width: 30px;
	height: 3px;
	margin: 7.75px;
	background-color: #F1F1F1;
	transition-duration: 0.5s;
	transform: rotate3d(1,1,1,0deg); /*Resetter 3d */
}

.topnav .icon {
    display: none;
}
.topnav a:hover {
    color: #CCC;
	text-shadow: 1px 1px 2px #000000;
}
@media screen and (max-width: 700px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
	  padding: 0px;
	  margin: auto;
  }
	.hoyre {
		float:left;
	}
	#headertekst{
		bottom: 10px;
		left: 10px;
	}
	#headertekst p{
		display: none;
	}
}

@media screen and (max-width: 700px) {
	
	.topnav.responsive {
	 	position: relative;
	}
	
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
		padding: 0px;
	}
	
	.topnav.responsive #bar1 {
		-webkit-transform:translateY(10.75px) rotate(-45deg); /*For safari*/
		transform: translateY(10.75px) rotate(-45deg); /*Roterer den ene baren i hamburgeren til den ene delen av x-en*/
	}
	
	.topnav.responsive #bar2 {
		-webkit-transform: rotate3d(0,1,0, 90deg); /*For safari*/
		transform: rotate3d(0,1,0, 90deg); /*Roterer midtbaren til hamburgeren 90deg i 3d slik at den sakte forsvinner.*/
	}
	
	.topnav.responsive #bar3 {
		-webkit-transform: translateY(-10.75px) rotate(45deg); /*For safari*/
		transform: translateY(-10.75px) rotate(45deg); /*Roteren den tredje baren i hamburgeren til den andre delen av x-en*/
	}
	
 	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		background-color: #131313;
		margin: 0;
		padding: 6px;
		border-right: 0px solid white;
  	}
}

#space{
	height: 28px;
	visibility: hidden;
}

/*.hoyre og .venstre gjør at elementer med denne klassen går til venstre eller høyre. Blir p.d.d. bare brukt på sopptur.html, men ligger i felles.css siden det kan være nyttig i senere utgaver av nettsiden.*/
.hoyre {
	float: right;
	margin-bottom: 50px;

